<h1>Welcome to Autogiftr</h1>
<p class ='lead'>“We make a living by what we get. We make a life by what we give.” 
― Winston Churchill</p>
<p><%= link_to 'Create an account to get started', new_account_path, class: 'btn btn-danger' %></p>