<h1>Welcome to Autogiftr</h1>

<h2>Never miss another occasion</p>

<p><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %></p>

<p><%= link_to 'Create an account to get started', new_account_path, class: 'btn btn-danger' %></p>